@model List<DateTime>

@{
    ViewData["Title"] = "Datas Disponíveis";
}

<h2>@ViewData["Title"]</h2>

<p>Id do Serviço de Unidade de Atendimento: @ViewBag.servicoUnidadeAtendimentoID</p>

<table class="table">
    <thead>
        <tr>
            <th>Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in Model)
        {
            <tr>
                <td>
                    <a>@data.ToString("dd/MM/yyyy")</a>
                </td>
            </tr>
        }
    </tbody>
</table>