@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger">
        @Html.Raw(TempData["MensagemErro"].ToString().Replace("\n", "<br/>"))
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}


<h1>ID Agenda: @ViewBag.idAgenda</h1>
<h1>ID Pessoa: @ViewBag.idPessoa</h1>