@model List<CentroAtendimento>

<!DOCTYPE html>
<html>
<head>
    <title>Centros de Atendimento</title>
</head>
<body>
    <div class="justify-content-center align-items-center" style="height: 40vh; margin-top:21%">
        <div class="d-flex flex-wrap ">
            <div class="m-1 w-100 text-center">
                <h2 style="color:#43054e">Selecione o Centro de Atendimento</h2>
            </div>
            @foreach (var centroAtendimento in Model)
            {
                <div class="m-1 d-flex justify-content-center align-items-center" style="flex: 1;">
                    <a href="@Url.Action("Especialidades", "CentroAtendimento", new { id = centroAtendimento.idCentroAtendimento })" class="btn btn-primary btn-block">@centroAtendimento.nmCentroAtendimento</a>
                </div>
            }
        </div>
    </div>
</body>
</html>