@model List<agenda.Models.Servico>

<!DOCTYPE html>
<html>
<head>
    <title>Serviços</title>
</head>
<body>
    <div class="d-flex justify-content-center align-items-center" style="height: 60vh;">
        <div class="d-flex flex-wrap">
            <div class="m-1 w-100 text-center">
                <h4 style="color:#bf0086">@ViewBag.CentroAtendimentoNome</h4>
                <h4 style="color:#bf0086">@ViewBag.EspecialidadeNome</h4>
                <br />
                <br />
                <h2 style="color:#43054e">Selecione o Serviço</h2>
            </div>
            @foreach (var servico in Model)
            {
                <div class="d-flex m-1 container" style="flex: 1;">
                    <a class="btn btn-primary btn-block" href="@Url.Action("UnidadesAtendimento", "CentroAtendimento", new { centroAtendimentoID = ViewBag.centroAtendimentoID ,servicoId = servico.idServico })">@servico.deServico</a>
                </div>
            }
        </div>
    </div>
    <div class="text-center mt-3">
        <a class="btn btn-voltar" href="javascript:history.back()">Voltar</a>
    </div>
</body>
</html>