html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.btn-primary {
    background-color: #BD0086 !important;
    border-color: #43054e !important;
    align-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

