/* _content/OutroTeste/Views/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-tmzwd30ru2] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-tmzwd30ru2] {
  color: #0077cc;
}

.btn-primary[b-tmzwd30ru2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-tmzwd30ru2], .nav-pills .show > .nav-link[b-tmzwd30ru2] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-tmzwd30ru2] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-tmzwd30ru2] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-tmzwd30ru2] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-tmzwd30ru2] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-tmzwd30ru2] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* _content/OutroTeste/Views/Usuario/login.cshtml.rz.scp.css */
*[b-t24wdhuqbj] {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.wrapper[b-t24wdhuqbj] {
    width: 420px;
    background: transparent;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0,0,0, .2);
    color: black;
    border-radius: 10px;
    padding: 30px 40px;
}


    .wrapper .imagemAgenda[b-t24wdhuqbj] {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .wrapper h1[b-t24wdhuqbj] {
        font-size: 36px;
        text-align: center;
    }

    .wrapper .input-box[b-t24wdhuqbj] {
        width: 100%;
        height: 50px;
        background: white;
        margin: 30px 0;
    }

.input-box input[b-t24wdhuqbj] {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid #43054e;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 45px 20px 20px;
}

        .input-box input[b-t24wdhuqbj]::placeholder {
            color: black;
        }

    .input-box i[b-t24wdhuqbj] {
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 20px;
    }

    .wrapper .remember-forgot[b-t24wdhuqbj] {
        display: flex;
        justify-content: space-between;
        font-size: 14.5px;
        margin: -15px 0 15px;
    }

.remember-forgot label input[b-t24wdhuqbj] {
    accent-color: #43054e;
    margin-right: 3px;
}

    .remember-forgot label input:hover[b-t24wdhuqbj] {
        accent-color: #bf0086;
        margin-right: 3px;
    }

.remember-forgot a[b-t24wdhuqbj] {
    color: #43054e;
    text-decoration: none;
}

    .remember-forgot a:hover[b-t24wdhuqbj] {
        text-decoration: underline;
        color: #bf0086;
    }

.wrapper .btn[b-t24wdhuqbj] {
    width: 100%;
    height: 45px;
    background: #43054e;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
}

    .wrapper .criar-conta[b-t24wdhuqbj] {
        font-size: 14.5px;
        text-align: center;
        margin: 20px 0 15px;

    }

.criar-conta p a[b-t24wdhuqbj] {
    color: #43054e;
    text-decoration: none;
    font-weight: 600;
}

    .criar-conta p a:hover[b-t24wdhuqbj] {
        text-decoration: underline;
        color: #bf0086;
    }
