<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="wrapper">
    <form action="">
        <h1>Cadastro</h1>
        <div class="input-box">
            <input type="text" placeholder="Nome" required />
            <box-icon type='solid' name='user'></box-icon>
        </div>
        <div class="input-box">
            <input type="email" placeholder="Email" required />
            <box-icon type='solid' name='mail-send'></box-icon>
        </div>
        <div class="input-box">
            <input type="tel" placeholder="Número de telefone" required />
            <box-icon type='solid' name='phone'></box-icon>
        </div>
        <div class="input-box">
            <input type="text" placeholder="Número do CPF" required />
            <box-icon type='solid' name='id-card'></box-icon>
        </div>
        <div class="input-box">
                <input type="text" placeholder="Data de nascimento" onfocus="(this.type='date')" onblur="if(this.value==''){this.type='text'}" required />            <box-icon type='solid' name='calendar'></box-icon>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Senha" required />
            <box-icon name='lock-alt' type='solid'></box-icon>
        </div>

        <button type="submit" class="btn-login">Cadastrar</button>

        <div class="criar-conta">
            <p>Já tem uma conta?<a href="@Url.Action("Login", "Usuario")">  Entrar</a></p>
        </div>
    </form>
</div>
