@model OutroTeste.Models.EsqueceuSenha

@{
    ViewData["Title"] = "AgendaCAC - Redefinir senha";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="wrapper">

    <form asp-action="EsquecerSenha" asp-controller="Usuario">
        <h1>Esqueceu a senha</h1>
        <div class="input-box">
            <input asp-for="Email" placeholder="Insira o email da conta" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-login">Enviar link de redefinição</button>
        <div class="criar-conta">
            <p>Lembrou da sua senha?<a href="@Url.Action("Login", "Usuario")">  Entrar</a></p>
        </div>
    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
