@model agenda.Models.EsqueceuSenha

@{
    ViewData["Title"] = "AgendaCAC - Redefinir senha";
}

<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

<div class="wrapper">
    @if (TempData["MensagemSucesso"] != null)
    {
        <div class="alert alert-success" style="text-align: center;">
            @TempData["MensagemSucesso"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }
    @if (TempData["MensagemErro"] != null)
    {
        <div class="alert alert-danger" style="text-align: center;">
            @TempData["MensagemErro"]
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    }

        <form asp-action="RedifinirSenha" asp-controller="Usuario" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h1>Esqueceu a senha ?</h1>
        <div class="input-box">
            <input asp-for="Email" />
             @Html.ValidationMessageFor(x => x.Email)
        </div>

        <button type="submit" class="btn-login">Enviar link de redefinição</button>
        </form>
        <div class="criar-conta">
            <p>Lembrou da sua senha?<a href="@Url.Action("Login", "Usuario")">  Entrar</a></p>
        </div>
</div>
